.gradient-left-to-right:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
.gradient-right-to-left:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.flag:hover {
  transform: scale(700%);
}